.jobtest{
    background-color: #F7F8FA;
    height: 100%;
    padding-bottom: 50px;
}
.tt-aspect-video{
    height: 100px;
    width: 190px;
}
.tt-pl-3{
    padding: 8px 0 8px 24px;
    background-color: #F7F8FA;
}
.jobtest-title {
    font-family: 'Noto Sans Bengali', sans-serif;
    font-size:20px;
    line-height: 32px;
    font-weight: 600;
}